@media (max-width: 436px) {
  .body-Object1{
    height: 5500px;
  }
}
@media (max-width: 405px) {
  .body-Object1{
    height: 6000px;
  }
}
@media (max-width: 380px) {
  .body-Object1{
    height: 6600px;
  }
}
@media (max-width: 351px) {
  .body-Object1{
    height: 7000px;
  }
}
@media (max-width: 335px) {
  .body-Object1{
    height: 7300px;
  }
}
.body-Object{
  height: 110vh;
}