header img {
  user-select: none;
}
header nav {
  background-image: url("assets/photo_2025-01-04_15-00-57 (1).jpg") !important;
  font-family: Roboto;
}
header img {
  width: 60px;
}
header .dropdown {
  display: none;
}
header .dropdown .dropdown-menu {
  background: hsl(43, 69%, 76%);
  left: -82%;
}
header .dropdown .navbar-nav::selection {
  background: hsl(40, 18%, 45%);
}

body {
  background: linear-gradient(to bottom, transparent, hsl(39, 18%, 85%)), url("assets/photo_2025-01-04_15-00-57 (2).jpg");
}
body img {
  user-select: none;
}
body .progress-bar {
  user-select: none;
}
body a {
  text-decoration: none;
}
body a::selection {
  background: hsl(45, 21%, 85%);
}
body #a1 {
  border-color: hsl(43, 21%, 54%);
  background-color: hsl(0, 0%, 99%);
}
body #a1 em:before {
  content: "";
  position: absolute;
  color: aliceblue;
  transition: all 0.5s ease;
}
body #a1 em {
  position: relative;
  z-index: 5;
  color: black;
  text-decoration: none;
}
body #a1 em:hover {
  transition: all 0.5s ease;
  color: aliceblue;
}
body #a1 em::selection {
  background: hsl(45, 19%, 87%);
}
body #a1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: hsl(43, 21%, 54%);
  transition: all 0.5s ease;
  z-index: 1;
}
body #a1:hover:before {
  height: 100%;
}
body #a1:hover:before em:hover {
  transition: all 0.5s ease;
  color: aliceblue;
}
body #list1 #ls1, body #list1 #ls2, body #list1 #ls3, body #list1 #ls4, body #list1 #ls5, body #list1 #ls6 {
  background-color: hsl(60, 14%, 97%);
  border-width: 0px;
  border-radius: 5px;
  width: 45%;
}
body #list1 #ls1 span, body #list1 #ls2 span, body #list1 #ls3 span, body #list1 #ls4 span, body #list1 #ls5 span, body #list1 #ls6 span {
  color: #a19370;
  text-decoration: #a19370 wavy underline;
  padding: 10px;
}
body #list1 #ls1 a, body #list1 #ls2 a, body #list1 #ls3 a, body #list1 #ls4 a, body #list1 #ls5 a, body #list1 #ls6 a {
  background-color: hsl(40, 25%, 95%);
  font-family: Roboto;
  position: relative;
  z-index: 2;
}
body #list1 span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 42px;
  background: hsl(43, 69%, 76%);
  transition: all 0.6s ease;
  z-index: -1;
}
body #list1 span:hover:before {
  width: 100%;
}
body #list1 span::selection {
  background: hsl(45, 21%, 85%);
}
body #st0 #hh1 {
  font-family: "Embed code";
  color: black;
  width: 35%;
  font-size: xx-large;
  margin: 10% 0px 0px 0px;
}
body #st0 #hh1::selection {
  background: hsl(45, 19%, 87%);
}
body #st0 #hh1:after {
  content: "";
  background: rgb(100, 96, 91);
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  height: 0.075rem;
  margin: auto auto auto 1.25rem;
  display: flex;
  width: 200%;
  left: 75%;
  top: -1rem;
  position: relative;
}

#st01 {
  border-color: hsl(30, 6%, 69%);
  background-color: hsla(55, 39%, 81%, 0.4);
}
#st01 p {
  font-family: Roboto;
  font-size: larger;
}
#st01 p::selection {
  background: hsl(45, 19%, 87%);
}

#st01:after {
  display: none;
}

.prb0 {
  background-color: hsl(0, 100%, 62%);
}

.prb1, .prb2 {
  background-color: hsl(22, 100%, 44%);
}

.prb3 {
  background-color: hsl(21, 63%, 54%);
}

.pr2 {
  font-family: Open-Sans;
  font-size: 1.2rem;
}

.prb4 {
  background-color: hsl(0, 69%, 39%);
}

.page-link {
  user-select: none;
}

.pr2 li::selection {
  background: hsl(45, 19%, 87%);
}
.pr2 a {
  color: hsl(42, 18%, 38%);
}
.pr2 p::selection {
  background: hsl(45, 19%, 87%);
}
.pr2 h5::selection {
  background: hsl(45, 18%, 87%);
}
.pr2 em::selection {
  background: hsl(45, 15%, 85%);
}
.pr2 h1::selection {
  background: hsl(44, 24%, 81%);
}
.pr2 h2::selection {
  background: hsl(44, 24%, 81%);
}

.nav0 .page-item a {
  background: none;
  border: none;
  color: hsl(40, 20%, 40%);
}

.Jerry li::selection {
  background: hsl(206, 100%, 39%);
}
.Jerry a::selection {
  background-color: hsl(210, 100%, 80%);
}
.Jerry p::selection {
  background: hsl(219, 79%, 66%);
}
.Jerry h5::selection {
  background: hsl(214, 41%, 78%);
}
.Jerry em::selection {
  background: hsl(210, 100%, 80%);
}
.Jerry h1::selection {
  background: hsl(225, 73%, 57%);
}
.Jerry h2::selection {
  background: hsl(212, 71%, 58%);
}
.Jerry .hh2::selection {
  background-color: hsl(226, 49%, 16%) !important;
}

@media (max-width: 992px) {
  .body2 {
    height: 5300px;
  }
  .body3 {
    height: 5000px;
  }
}
@media (max-width: 768px) {
  body {
    height: 8500px;
  }
  .body2 {
    height: 6200px;
  }
  .body3 {
    height: 6000px;
  }
}
@media (max-width: 576px) {
  header h1 {
    position: relative;
    left: -70px;
  }
  header .navbar-nav {
    display: none;
  }
  header .dropdown {
    display: flex;
  }
}
@media (max-width: 520px) {
  body {
    height: 5000px;
  }
}
@media (max-width: 512px) {
  .body3 {
    height: 7000px;
  }
}
@media (max-width: 510px) {
  header h1 {
    left: -50px;
  }
}
@media (max-width: 495px) {
  .body2 {
    height: 7300px;
  }
}
@media (max-width: 469px) {
  .body2 {
    height: 8000px;
  }
}
@media (max-width: 465px) {
  .body3 {
    height: 8000px;
  }
}
@media (max-width: 460px) {
  body #hh1:after {
    left: 105% !important;
  }
}
@media (max-width: 440px) {
  header h1 {
    left: -30px;
  }
}
@media (max-width: 420px) {
  .body3 {
    height: 9000px;
  }
}
@media (max-width: 417px) {
  .body1 {
    height: 5500px;
  }
}
@media (max-width: 409px) {
  .body2 {
    height: 8300px;
  }
}
@media (max-width: 390px) {
  body {
    height: 7000px;
  }
}
@media (max-width: 389px) {
  body {
    height: 6100px;
  }
  .body3 {
    height: 9000px;
  }
}
@media (max-width: 383px) {
  .body3 {
    height: 9950px;
  }
}
@media (max-width: 350px) {
  body {
    height: 6700px;
  }
  .body3 {
    height: 9000px;
  }
}
@media (max-width: 380px) {
  header h1 {
    left: -10px;
  }
}
@media (max-width: 360px) {
  body #hh1:after {
    left: 130% !important;
  }
}
@media (max-width: 350px) {
  .body3 {
    height: 9600px;
  }
}
@media (max-width: 340px) {
  header h1 {
    left: -20px;
  }
  .body2 {
    height: 8300px;
  }
}
@media (max-width: 243px) {
  header .dropdown .dropdown-menu {
    left: 0%;
  }
}
@media (max-width: 230px) {
  header h1 {
    left: 0px;
  }
  header .navbar-nav {
    display: flex;
  }
  header .dropdown {
    display: none;
  }
  header .dropdown-menu {
    left: 0%;
  }
}
@media (max-width: 215px) {
  header img {
    width: 60px;
    left: 76px;
    position: relative;
  }
  header h1 {
    left: 0px;
  }
}
@media (max-width: 500px) {
  body #hh1:after {
    left: 105%;
  }
}
@media (max-width: 436px) {
  .body-Object1 {
    height: 5500px;
  }
}
@media (max-width: 405px) {
  .body-Object1 {
    height: 6000px;
  }
}
@media (max-width: 380px) {
  .body-Object1 {
    height: 6600px;
  }
}
@media (max-width: 351px) {
  .body-Object1 {
    height: 7000px;
  }
}
@media (max-width: 335px) {
  .body-Object1 {
    height: 7300px;
  }
}
.body-Object {
  height: 110vh;
}

/*# sourceMappingURL=styles.css.map */
